* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    background-color: lightcoral;
    padding: 10px;
    width: 100vh;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: whitesmoke;
}

main {
    background-color: rgb(81, 81, 255);
}